body {
  background-color: #f6f7f8; }

ul {
  list-style: none;
  padding: 0; }

li.sin {
  margin: 10px auto;
  float: none;
  padding: 5px 20px;
  border-bottom: 0;
  background-color: white;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-box-shadow: 0px 0px 34px -12px #bdb7bd;
  -moz-box-shadow: 0px 0px 34px -12px #bdb7bd;
  box-shadow: 0px 0px 34px -12px #bdb7bd; }

li.sin div.description {
  color: white;
  float: right;
  margin: 0; }

div.description p {
  display: inline-block;
  margin: 0 20px;
  float: right; }

h1, h3 {
  font-family: "Shadows Into Light Two", cursive; }

h1 {
  color: #f9596d;
  font-size: 60px; }

h3 {
  font-size: 2em; }
  h3 span {
    float: right;
    margin-right: 10px; }

div.detail div.title span.date {
  float: right; }

div.detail p {
  margin: 20px 0; }

div.tags li {
  margin: 0 5px; }
  div.tags li:nth-child(1) {
    margin-left: 0; }
  div.tags li:nth-child(even) {
    color: #f9596d; }

li.sin:hover {
  transform: scale(1.03);
  cursor: pointer; }

a li.sin:hover {
  text-decoration: none; }

input.form-control,
textarea.form-control,
button.btn {
  margin: 5px auto;
  border-radius: 5px;
  border: none; }

button.btn {
  background-color: #f9596d;
  color: white;
  font-weight: 600;
  font-family: sincity, sans-serif;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-size: 16px; }
  button.btn:hover {
    transform: scale(1.03);
    color: white; }
  button.btn:active, button.btn:focus {
    outline: none; }

textarea.form-control {
  resize: none; }

img.sinbadge {
  position: absolute;
  width: 500px;
  bottom: 0;
  right: 0;
  z-index: -1; }

.loader {
  position: absolute;
  top: 100px;
  right: 50%;
  display: none; }

div.modal-content {
  background-color: white;
  border-color: #f9596d; }
  div.modal-content button.btn {
    background-color: transparent;
    color: #f9596d;
    font-weight: 600;
    font-family: "Shadows Into Light Two", cursive;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    font-size: 16px;
    border: none; }

div.content {
  padding: 15px;
  background-color: white;
  border-radius: 5px; }
  div.content ul {
    display: inline-block; }
  div.content h4.title {
    font-family: "Shadows Into Light Two", cursive;
    font-size: 1.7em;
    color: #f9596d; }
  div.content h4.recipent {
    font-family: 'Helvetica', cursive;
    font-size: 1.4em;
    color: #333; }
