$primary-font:'Press Start 2P', serif;
input {
  margin-bottom: 10px;
}

button.btn {
  margin-bottom: 20px;
}

body {
  background-color: #fdfdfd;
}

h1 {
  font-size: 40px;
  margin-bottom: 50px;

}

h1, h2, h3 {
  font-family:$primary-font;
  color: #4d4d4d;
  text-shadow: 2px 2px 1px #a3a4a6;
}

button.btn, input.form-control {
  border-radius: 0;
}

button.btn {
  margin: 0;
}

#result {
  margin: 30px 0;
}
ul.latest-results {
  list-style: none;
  li{
    float: none;
    font-family: $primary-font;
    color: #686868;
    font-size: 1.0em;
  }
}

div.result-wrapper h3{
  margin-top: 0;
}